:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}
/* header */

.list .item_active {
  color: var(--accent-color);
}

header,
nav {
  display: flex;
}

nav li {
  display: inline-block;
}
.contact_list li {
  display: inline-block;
}

/* logo */

.logo {
  color: var(--title-text-color);
  font-family: raleway;
  font-size: 26px;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.logo .accent {
  color: var(--accent-color);
}
/* navigation */
.list a {
  color: var(--title-text-color);
}
.list a:hover,
.list a:focus {
  color: var(--accent-color);
}
.hidden {
  font-size: 0;
}
/* mail and phone */
.contact_list a {
  color: var(--title-text-color);
}
.contact_list a:hover,
.contact_list a:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
}
.hero_button {
  font-size: 16px;
  font-weight: 700;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-radius: 7%;
  padding: 10px;
}
.hero_button:hover,
.hero_button:focus {
  background-color: var(--primary-white-color);
  color: var(--accent-color);
  border-width: 1px;
  border-color: var(--accent-color);
  border-style: solid;
}
/* our adventages */
/* hidden from navigation */
.adventages li {
  display: inline-block;
}
.adventages img {
  background-color: #f5f4fa;
  padding: 10px 50px;
  border-radius: 7%;
  border-color: var(--accent-color);
}
.adventages img:hover,
.adventages img:focus {
  background-color: var(--accent-color);
}
.adventages h3 {
  font-size: 16px;
  color: var(--title-text-color);
  font-weight: 700;
  text-transform: uppercase;
}
.adventages h3:hover,
.adventages h3:focus {
  color: var(--accent-color);
}

.adventages p {
  color: var(--primary-text-color);
  font-weight: 500;
  width: 278px;
  height: 75px;
}
.adventages p:hover,
.adventages p:focus {
  color: var(--accent-color);
}
/* what we are doing */
.doing_title {
  font-size: 36px;
  font-weight: 700;
  color: var(--title-text-color);
}
.doing_list li {
  display: inline-block;
}
.doing_list h3 {
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  color: var(--primary-white-color);
  width: 380px;
  height: 70px;
  text-transform: uppercase;
  text-align: center;
  line-height: 70px;
}
.doing_list h3:hover,
.doing_list h3:focus {
  background-color: var(--accent-color);
}

/* our team */

.team_title {
  font-size: 36px;
  font-weight: 700;
  color: var(--title-text-color);
}
.team_list li {
  display: inline-block;
}
.team_list h3 {
  font-size: 16px;
  color: var(--title-text-color);
  font-weight: 500;
}
.team_list p {
  font-size: 16px;
  color: var(--primary-text-color);
  font-weight: 500;
}
.social_list li {
  display: inline;
}
.social_list img {
  padding: 10px;
}
.social_list img:hover,
.social_list img:focus {
  padding: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

/* our clients */

.clients_title {
  font-size: 36px;
  font-weight: 700;
  color: var(--title-text-color);
}

.clients_list li {
  display: inline-block;
  padding: 30px 30px;
  background-color: var(--primary-white-color);
}
.clients_list li:hover,
.clients_list li:focus {
  display: inline-block;
  padding: 30px 30px;
  background-color: var(--accent-color);
}

/* footer logo */
footer {
  background-color: #2f303a;
}
footer .logo {
  font-size: 22px;
  color: var(--primary-white-color);
}
.adress {
  color: var(--primary-white-color);
}
.adress a {
  color: var(--primary-white-color);
}
.adress a:hover,
.adress a:focus {
  color: var(--accent-color);
}
.join-us_title {
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-weight: bold;
}
.subscribe_title {
  color: var(--primary-white-color);
  text-transform: uppercase;
}
.e-mail_button {
  font-size: 16px;
  font-weight: normal;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 7%;
  padding: 10px;
  border-style: solid;
  border-color: var(--primary-white-color);
  border-width: 1px;
}
.e-mail_button:hover,
.e-mail_button:focus {
  background-color: var(--primary-white-color);
  color: #2f303a;
  border-width: 1px;
  border-color: var(--primary-white-color);
  border-style: solid;
}
.copyright {
  color: rgba(255, 255, 255, 0.4);
  font-weight: normal;
  text-align: center;
}
.horiz-footer {
  display: flex;
}

/* portfolio */

.filter li {
  display: inline;
}
.filter_button {
  font-size: 16px;
  font-weight: 700;
  background-color: #f5f4fa;
  color: var(--title-text-color);
  border-radius: 7%;
  padding: 10px;
}
.filter_button:hover,
.filter_button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-width: 1px;
  border-color: var(--accent-color);
  border-style: solid;
}

/* .works_list li {
  display: flex;
} */

.works_list h3 {
  width: 380px;
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: bold;
}

.works_list p {
  width: 380px;
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: normal;
}

.works_list h3:hover,
.works_list h3:focus {
  color: var(--accent-color);
}

.works_list p:hover,
.works_list p:focus {
  color: var(--accent-color);
}
